name: Automerge

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    name: Automerge
    runs-on: ubuntu-latest
    if: >-
      github.actor == 'dependabot[bot]' ||
      github.actor == 'release-please[bot]' ||
      github.actor == 'github-actions[bot]'
    timeout-minutes: 5

    steps:
      - name: Approve PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: gh pr review "$PR_URL" --approve

      - name: Enable automerge
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: gh pr merge "$PR_URL" --auto --squash
